{{#x-form
   class="test-meetup-request-form"
   data=defaults
   onSubmit=(action "submit")
   as |form|
}}
  {{#form.field property="category" as |field|}}
    {{#x-select
       value=field.value
       action=(action field.actions.onChange)
       as |xs|}}
      {{#each categories as |category|}}
        {{#xs.option value=category.value}}{{category.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  {{/form.field}}

  {{#form.field property="page" as |field|}}
    <div class="flexrow">
      Max number of results:
      {{x-range-input
        min=10 max=200 step=5
        value=field.value
        action=(action field.actions.onChange)
      }}
      {{field.value}}
    </div>
  {{/form.field}}

  <div>
    <div class="col-xs-4 end-xs">
      <button class="btn btn-default" {{action form.actions.submit}}>
        Find Groups
      </button>
    </div>
  </div>
{{/x-form}}
