/* --- Base Styles ---- */

// Layout
body {
  font-family: 'Roboto';
  font-weight: 200;
  height: 100%;
}

h1 {
  font-family: $headerfont;
  color: $electric-violet;
  font-size: 70px;
}

h2 {
  font-family: 'roboto';
  font-weight: 200;
}

h3 {
  font-family: 'roboto';
  font-weight: 200;
}

h4 {
  font-family: 'roboto';
  font-weight: 200;
}

h5 {
  font-family: 'roboto';
  font-weight: 200;
}

p {
  font-family: 'Roboto';
  color: $gray;
}
