// Buttons

.btn {
  cursor: pointer;
  text-decoration:none;
  font-family: $headerfont;
  font-size:16px;
  padding:5px 15px;
  height: auto;
  display:inline-block;
  text-align:center;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  border-style: solid;
  border-width: 3px;

  &:active, &:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
  }

  &[disabled="true"] {
    pointer-events: none;
  }

  &.disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &-default {
    color: $electric-violet;
    background-color: $white;
    border-color: $electric-violet;

    &.disabled {
      color: $silver;
      background-color: $white;
      border-color: $silver;
    }

    &:active, &:focus {
      color: $electric-violet;
    }
    &:hover {
        background-color: $shamrock;
        border: solid 3px $shamrock;
        color: $white;
    }
  }

  &-primary {
    color: $white;
    background-color: $electric-violet;
    border-color: $electric-violet;

    &.disabled {
      color: $white;
      background-color: $silver;
      border-color: $silver;
    }

    &:active, &:focus {
      color: $white;
    }
    &:hover {
        background-color: $shamrock;
        border: solid 3px $shamrock;
        color: $white;
    }
  }
}

.counter {
  color: $white;
  background-color: $electric-violet;
  border: none;
  padding: 1px 4px;
  font-size: 1em;
  border-radius: 3px;
  margin: 0 1px;
}
