.media-filter-container {
  overflow: hidden; // keep children from collapsing
  padding: 2rem 0;
  background-color: darken($athens-gray, 5%);
  min-height: 300px;

  .content-piece-image-container {
    height: 180px;
    padding: 0;
    overflow: hidden;
  }

  .content-piece {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1.5em;

    @include breakpoint($breakpoint-medium-up) {
      margin: 1.5em;
      width: 40%;
    }

    @include breakpoint($breakpoint-large-up) {
      width: 27%;
    }
  }
}

.media-filter--filters {
  text-align: center;

  a {
    display: block;

    @include breakpoint($breakpoint-medium-up) {
      display: inline;
    }
  }

  // The padding is a little much here
  .btn-primary {
    padding: 1em;
  }
}

.expandable-searchbox {
  display: inline;
  transition: width 1s;
  width: 0;
  background: transparent;
  border: 2px solid transparent;
}

.expandable-searchbox-container {
  display: block;
  margin-left: 0.7em;
  margin-top: $spacer;
  margin-bottom: $spacer;

  @include breakpoint($breakpoint-medium-up) {
    width: 100%;
    margin-bottom: 0;
    display: inline;
  }

  .search-icon {
    width: 23px;
    height: auto;
  }

  &.is-active .expandable-searchbox {
    width: 90%;
    border-bottom-color: lighten($regent-gray, 25%);
    visibility: visible;

    @include breakpoint($breakpoint-medium-up) {
      width: 15%;
    }

    &:focus {
      background: transparent;
      border-bottom-color: $picton-blue;
    }
  }
}

.media-filter-empty-state {
  text-align: center;
  padding: $spacer * 3;

  h3 {
    font-family: $bold;
    font-size: 2.4em;
  }

  .keyword {
    color: $french-rose;
  }
}
