.group-speakers {

  background-color: $polar;

  &__male, &__female, &__nonbinary {
    margin-top: 1.25em;
    text-align: center;
    display: flex;
    align-items: center;
  }
  div {
    h4 {
      margin-top: 0;
      padding: 10px 35px;
    }
  }
  .eventname {
    margin-left: 20px;
    color: $shamrock;
    font-size: 1.5em;
  }
  .count {
    color: $shamrock;
    font-size: 1.5em;
    margin-right: 5px;
  }
  .percent {
    margin-right: 5px;
  }
  .identity {
    font-size: 1em;
    margin-right: 5px;
  }
}
