.ember-application {
  margin: 0em;
}

// Headers
h1 {
  font-family: $headerfont, 400;
  color: $gray;
}

h2 {
  font-family: $primary, 100;
  color: $gray;
}

.site-header {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0;
  cursor: pointer;

  .title, .description {
    margin: 0;
    display:inline-block;
  }
}

.breadcrumbs {
  padding: 10px 20px;
  color: $electric-violet;
  font-weight: 300;

  .breadcrumb {
    cursor: pointer;

    &.active, &:hover {
      text-decoration: underline;
    }

    &.disabled {
      color: $gray;
      pointer-events: none;
      text-decoration: none;
    }

    &.active + span, &.disabled + span {
      color: $gray;
    }
  }
}
