.ember-application {
  margin: 1em;
}

// Headers
h1 {
  font-family: Avenir;
  color: $electric-violet;
}

h2 {
  font-family: $primary;
  color: $gray;
}

.site-header {
  margin: 0;
  cursor: pointer;

  .title, .description {
    margin: 0;
    display:inline-block;
  }
}

.breadcrumbs {

  .breadcrumb {
    pointer-events: none;
    cursor: pointer;

    &.active, &.parent {
      pointer-events: auto;
      color: $electric-violet;
      text-decoration: underline;
    }

    &.parent {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      + span {
        color: $electric-violet;
      }
    }
  }
}
