.ember-application {
  margin: 1em;
}

// Headers
h1 {
  font-family: Avenir;
  color: $electric-violet;
}

h2 {
  font-family: $primary;
  color: $gray;
}

.site-header {
  margin: 0;
  cursor: pointer;

  .title, .description {
    margin: 0;
    display:inline-block;
  }
}

.breadcrumbs {

  .bold {
    color: $electric-violet;
  }

  .breadcrumb {
    cursor: pointer;

    &.active {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}
