{{meetup-cards
  groups=groups
  selectedGroups=selectedGroups
  on-add-group=(action "selectGroup")
  on-remove-group=(action "removeGroup")
}}

{{#if canLoadMore}}
  <button class="btn btn-primary" {{action "loadMore"}}>
    Load More Groups
  </button>
{{/if}}
