.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.white-bg {
  background: white;
}

.athens-gray-bg {
  background: $athens-gray;
}

.regent-gray-bg {
  background: $regent-gray;
}

.trout-bg {
  background: $trout;
}

.french-rose-bg {
  background: $french-rose;
}

.picton-blue-bg {
  background: $picton-blue;
}

.azure-radiance-bg {
  background: $azure-radiance;
}

.blue-zodiac-bg {
  background: $blue-zodiac;
}

.white {
  color: white;
}

.athens-gray {
  color: $athens-gray;
}

.regent-gray {
  color: $regent-gray;
}

.trout {
  color: $trout;
}

.french-rose {
  color: $french-rose;
}

.picton-blue {
  color: $picton-blue;
}

.azure-radiance {
  color: $azure-radiance;
}

.blue-zodiac {
  color: $blue-zodiac;
}
