.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.unpad {
  padding:0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.toppad {
  padding-top:3em;
  background-color: $polar;
  height: 450px;
}
