$spacer: 1em;

// Colors
// named with http://chir.ag/projects/name-that-color
$electric-violet: #5224fb;
$shamrock: #2bbab0;
$polar: #daf7f5;  // polar
$silver: #c0c0c0;  // silver
$gray: #888888; // gray
$alabaster: #f9f9f9;    // alabaster
$white: #FFFFFF;

// Fonts
$thin: "Roboto-Thin";
$light: "Roboto-Light";
$primary: "Roboto-Regular";
$semi-bold: "Roboto-Semibold";
$bold: "Roboto-Bold";
$extra-bold: "Roboto-Black";

// Breakpoints
$breakpoint-small-up: 30.063em;
$breakpoint-medium-up: 40.063em;
$breakpoint-xmedium-up: 52.500em;
$breakpoint-large-up: 64.063em;
$breakpoint-xlarge-up: 90.063em;
$breakpoint-xxlarge-up: 120.063em;

// Z-Index Tree
$zindex-text-grid-100:          100 !default;
$zindex-ac-punchout-100:        100 !default;
$zindex-header-200:             200 !default;
$zindex-ac-img-200:             200 !default;

// Transitions
$default-speed:             .25s;
$default-transition:        all $default-speed ease-in-out;

// Box Shadows

$default-box-shadow:        0px 9px 24px 0px rgba(20,49,93,0.25) !default;
$person-box-shadow:         0px 16px 35px 0px rgba(0,0,0,.15);
