{{!-- Meetup Search Form --}}
{{meetup-group-form on-submit=(action "submit")}}

<span class="center">or</span>

{{!-- Import Existing File --}}
<div class="test-import center">
  {{#x-file-input
     tagName="a"
     class="btn btn-default center"
     alt="import csv"
     accept="csv"
     action="import"
  }}
    Import Meetup Groups
  {{/x-file-input}}
</div>
