{{!-- Meetup Search Form --}}
<div class="col-xs-6 groupflow">
  {{meetup-group-form on-submit=(action "submit")}}
</div>


<div class="col-xs-6 groupflow">
  <h4 class = "center">Import WeSpeakToo Datasets</h4>
  <br><br>
  <p class = "center">Supported Cities</p>
  {{#each remoteFiles as |remote|}}
    <a class="center" {{action "importRemote" remote.url}}>{{remote.name}}</a>
  {{/each}}

  <br><br>
  <p class = "center">Have your own dataset?</p>

  {{!-- Import Existing File --}}
  <div class="test-import center">
    {{#x-file-input
      tagName="a"
      class="btn btn-default center"
      alt="import csv"
       accept="csv"
       action="importLocal"
    }}
      Import Meetup Groups
    {{/x-file-input}}
  </div>
</div>
